Prevent registration of role account usernames

Hi!

In https://www.ietf.org/rfc/rfc2142.txt some role accounts are defined. 

Friendica doesn't seem to prevent the registration of normal users for those role account names, like "postmaster" or "info". I think this is not good and can cause problems or at least is misleading and confusing. 

It would be better when a site admin could define a list of forbidden account names that are checked at registration time. Even better would be when Friendica would already include the role accounts in the default blocklist for usernames, that can be edited by the site admin. 

This is especially important if the site also offers more services with the same account as Friendica, like mail or web. 

Does the RfC provides a definite list of such roles for the default values?

I'm not sure about this RFC 2142 is quite old and may have some successors, but I think this is a good list to start with. Make the list editable and it should be fine, I think. Please also not that in this RFC mailing list addresses are defined as well (in 6. MAILING LIST ADMINISTRATION MAILBOX). 

I think the most important parts of the RFC are these: 

   The scope of a well known mailbox name is its domain name.  Servers
   accepting mail on behalf of a domain must accept and correctly
   process mailbox names for that domain, even if the server, itself,
   does not support the associated service.

and: 

For well known names that are not related to specific protocols, only
   the organization's top level domain name are required to be valid.
   For example, if an Internet service provider's domain name is
   COMPANY.COM, then the <ABUSE@COMPANY.COM> address must be valid and
   supported, even though the customers whose activity generates
   complaints use hosts with more specific domain names like
   SHELL1.COMPANY.COM.  Note, however, that it is valid and encouraged
   to support mailbox names for sub-domains, as appropriate.

   Mailbox names must be recognized independent of character case.  For
   example, POSTMASTER, postmaster, Postmaster, PostMaster, and even
   PoStMaStEr are to be treated the same, with delivery to the same
   mailbox.

As this is speaking of "must" and not "could" or "should" it is very explicit in the usage, as well in the form (case-insensitive). And this only applies to first level domains (such as nerdica.net). Sub-domains do not have this strict requirement of "must", but it is only "encouraged" to have this also for subdomains. Subdomains, however, should be reachable through their main domain role accounts.

I'm wondering if this is some topic for the core (I would like see this implemented into core) or if this can be done maybe by implementing it into newusers or publicservers addon. 
At least it can be omitted when the user is using single user mode of friendica. This is only necessary to implement for public servers, I think. But don't think that making a difference in here will make it easier to implement, but it might help single user installations in not confusing users with unnecessary settings. 


This should be done in the core. And - of course - an admin would be allowed to use these names.

Is there somewhere a list of these role names?

What do you think about the following. An option (array) in the `.htconfig` to define roles for your node. If that is not set, some roles are defined as defaults.

Something like: root, admin, postmaster, abuse maybe.

As said there is a list of most common used/expected role accounts in: https://www.ietf.org/rfc/rfc2142.txt 

For the start configuring those in .htconfig is ok, I think. In the end for the sake of ease of administration it should be configurable via the GUI in the site settings, I think. 

Where is that list, I must be blind ;-)

`
3.  BUSINESS-RELATED MAILBOX NAMES

   These names are related to an organization's line-of-business
   activities.  The INFO name is often tied to an autoresponder, with a
   range of standard files available.

   MAILBOX        AREA                USAGE
   -----------    ----------------    ---------------------------
   INFO           Marketing           Packaged information about the
                                      organization, products, and/or
                                      services, as appropriate
   MARKETING      Marketing           Product marketing and
                                      marketing communications
   SALES          Sales               Product purchase information
   SUPPORT        Customer Service    Problems with product or
                                      service


4.  NETWORK OPERATIONS MAILBOX NAMES

   Operations addresses are intended to provide recourse for customers,
   providers and others who are experiencing difficulties with the
   organization's Internet service.

   MAILBOX        AREA                USAGE
   -----------    ----------------    ---------------------------
   ABUSE          Customer Relations  Inappropriate public behaviour
   NOC            Network Operations  Network infrastructure
   SECURITY       Network Security    Security bulletins or queries


5.  SUPPORT MAILBOX NAMES FOR SPECIFIC INTERNET SERVICES

   For major Internet protocol services, there is a mailbox defined for
   receiving queries and reports.  (Synonyms are included, here, due to
   their extensive installed base.)

   MAILBOX        SERVICE             SPECIFICATIONS
   -----------    ----------------    ---------------------------
   POSTMASTER     SMTP                [RFC821], [RFC822]
   HOSTMASTER     DNS                 [RFC1033-RFC1035]
   USENET         NNTP                [RFC977]
   NEWS           NNTP                Synonym for USENET
   WEBMASTER      HTTP                [RFC 2068]
   WWW            HTTP                Synonym for WEBMASTER
   UUCP           UUCP                [RFC976]
   FTP            FTP                 [RFC959]

`

Thanks!

Should this be a preset list? ATM I have an empty list as initial start for the implementation but any username can be put into the list in the admin panel.

Yes, this should be a preset list.

@ingoj this has been implemented in the develp branch. Can you check it out, if it works for you?

Well, at the moment I'm on stable branch and would rather keep it that way, becuase... well, I suspect it to more "stable" ;-)

You’re right, especially these days where there are many structural changes added to develop.

Well, registration of 'postmaster' is blocked and throws an error "The nickname is blocked...". Seems to work. But I didn't try any of the other names.

One should be as good as any other in the list.