HTTP Signature pseudo-header (request-target) path should have query string

- [x] I have searched open and closed issues for duplicates

### Bug Description

I found some signed GET requests that fail signature verification from a Friendica instance (release doesn't matter as the code is the same). When I went to inspect the code base, I found that only the path is included in request-target even if the request URI contains a query string. I am personally only logging signature verification on GET requests and passing through at the moment, but this might cause issues when authorized fetch is required for non-Friendica instances.

[Section 2.3 of draft-cavage-http-signatures](https://datatracker.ietf.org/doc/html/draft-cavage-http-signatures#section-2.3)

> 1.  If the header field name is `(request-target)` then generate the
>       header field value by concatenating the lowercased :method, an
>       ASCII space, and the :path pseudo-headers (as specified in
>       HTTP/2, [Section 8.1.2.3](https://datatracker.ietf.org/doc/html/draft-cavage-http-signatures#section-8.1.2.3) [[7](https://datatracker.ietf.org/doc/html/draft-cavage-http-signatures#ref-7)]).  Note: For the avoidance of doubt,
 >      lowercasing only applies to the :method pseudo-header and not to
 >      the :path pseudo-header.

[Section 8.1.2.3 of RFC 7540](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.3)

> o  The ":path" pseudo-header field includes the path and query parts
>       of the target URI

I was going to make a pull request for this, but it would cause backwards-compatibility with older Friendica instances (once corrected). Friendica would need to double-knock on both verifying signatures when a request has query parameters and resend requests when an outgoing request heads to an older Friendica instance.

[Here's a start though](https://github.com/mradcliffe/friendica/tree/rfc7540-path-with-query)

This is similar to a Mastodon bug that was fixed by doing similarly for older releases - [app/lib/signed_request.rb](https://github.com/mastodon/mastodon/blame/ed4788a342a7215ac87b8d34761f0a996c83e699/app/lib/signed_request.rb#L115). Resolved in [28476](https://github.com/mastodon/mastodon/pull/28476), which I found while writing up this issue and pretty much says the same as above.

It seems like the correct behavior was there in `src/Util/HTTPSig.php` when using `$_SERVER['REQUEST_URI']`, but that was changed in 11310f4cf0e.


### Steps to Reproduce

<!-- Using bullet points, list the steps that reproduce the bug. -->

1.  Make a signed GET request to a CollectionPage or OrderedCollectionPage URL, which probably has a query parameter to an instance that requires authorized fetch. Any of the js-based instances that use [node-http-signature](https://github.com/Chocobozzz/node-http-signature/blob/eaba61699775ad0d30be612d0661e0b240c46992/lib/parser.js#L291) should work. Note from that link `request.url` refers to path + query [node.js reference](https://nodejs.org/docs/latest-v22.x/api/http.html#messageurl).

Actual Result:

Signature verification will fail when target URI has query parameters for instances that implement authorized fetch.

Expected Result:

Signature verification should succeed when target URI has query parameters for instances that implement authorized fetch.

### Screenshots

N/A

### Platform Info

Friendica Version: Any as of this date

<!-- You can see Friendica’s version number at Help -> About this site -> Site/Friendica Version -->

Friendica Source: this 

PHP version: N/A

SQL version: N/A


I will try to have a look at it. Sadly I mostly struggle to understand what is written in these RFC. It seems that the way they are written is completely incompatible with how my brain works.